*{
    background-color: #d8f5ff;
    font-family: Arial;
}
body{
    background-color: rgb(255, 193, 199);
    margin: 100px 300px; 
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.5);
}


h1{
text-align: center;
margin-top: 150px;
font-size: 70px;
padding-top: 20px;
background-color: rgb(255, 193, 199);
}

h3{
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 193, 199);
}

.contenedor{
    display: fixed;
    margin-left: 24%;
    justify-content: center;
    padding-left : 50px;
    color: black;
    padding: 50px;
    background-color: rgb(255, 193, 199);
  
}

.contenedor a:hover {
	background:rgb(214, 152, 158);
}

.boton1 {
    background-color: rgb(255, 193, 199);
   color: black;
   text-decoration: none;
   font-size: 30px;

}

.boton1:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
.boton2 {
      background-color:rgb(255, 193, 199);
    text-decoration: none;
    color: black;
    font-size: 30px;
}

  .boton2:hover:after{
    opacity: 1;
    transform: scale(1);
  }
  
 